.container {
    margin-top: 5px;
}
table {
    box-shadow: 0px 5px 5px #999;
}

button a {
    color:white;
}

button a:hover {
    color: white;
    text-decoration: none;
}

th {
    background-color: rgb(80, 200, 120);
    color: white;
}
.button-text {
    display: none;

}

@media (min-width: 768px) {
    .button-text {
        display: inline
    }
    .container {
        margin-top: 20px;
    }
}

